.loading{
    margin:0;
    padding:0;
}

.loadingUl {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
}
.loadingUl li {
    list-style: none;
    width: 6px;
    height: 20px;
    background: #262626;
    margin: 0 4px;
    animation: animate .8s infinite alternate;
}
@keyframes animate{
    0%{
        transform: scaley(1);
    }
    25%{
        transform: scaley(1);
    }
    50%{
        transform: scaley(1);
    }
    75%{
        transform: scaley(1);
    }
    100%{
        transform: scaley(3);
    }
}

.loadingUl li:nth-child(1){
    animation-delay:.1s;
}
.loadingUl li:nth-child(2){
    animation-delay:.2s;
}
.loadingUl li:nth-child(3){
    animation-delay:.3s;
}
.loadingUl li:nth-child(4){
    animation-delay:.4s;
}
.loadingUl li:nth-child(5){
    animation-delay:.5s;
}
.loadingUl li:nth-child(6){
    animation-delay:.6s;
}